
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>FRITZ!Box Guest Wifi</title>

    <link rel="icon" type="image/png" href="/apple-touch-icon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <span class="glyphicon glyphicon-signal"></span>
                    FRITZ!Box Guest Wifi
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form">
                    <div class="progress" id="loading">
                        <div class="progress-bar progress-bar-striped active">
                            <span class="glyphicon glyphicon-stats"></span>
                            Loading Guest Wifi Status
                        </div>
                    </div>
                    <div class="form-group display-none text-center" id="qr-code-container">
                        QR-Code
                    </div>
                    <div class="form-group display-none" id="ssid-container">
                        <label for="ssis">SSID:</label>
                        <input type="text" class="form-control" id="ssid" disabled value="">
                    </div>
                    <div class="form-group display-none" id="pw-container">
                        <label for="pw">Password:</label>
                        <input type="text" class="form-control" id="pw" disabled value="">
                    </div>
                    <div class="display-none" id="guest-wifi-disabled-container">
                        <button class="btn btn-lg btn-success btn-block" type="submit" id="button-enable">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            Enable Guest Wifi
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="jquery.min.js"></script>
    <script src="jquery.qrcode.min.js"></script>
    <script>
        $(function() {
            var loading = $('#loading').show();
            var qrCodeContainer = $('#qr-code-container').hide();
            var ssidContainer = $('#ssid-container').hide();
            var pwContainer = $('#pw-container').hide();
            var gwDisabledContainer = $('#guest-wifi-disabled-container').hide();

            var updateUi = function(status) {
                if (status.active) {
                    var enc = 'WPA';
                    var hidden = false;
                    var qrstring = 'WIFI:S:' + escapeString(status.ssid) + ';T:' + enc + ';P:' + escapeString(status.key) + ';';
                    if (hidden) {
                        qrstring += 'H:true';
                    }
                    qrstring += ';';

                    qrCodeContainer.empty().qrcode(qrstring).show();
                    ssidContainer.show().find('input').val(status.ssid);
                    pwContainer.show().find('input').val(status.key);
                    gwDisabledContainer.hide();
                } else {
                    qrCodeContainer.hide();
                    ssidContainer.hide();
                    pwContainer.hide();
                    gwDisabledContainer.show();
                }
            };

            var escapeString = function(string) {
                var to_escape = ['\\', ';', ',', ':', '"'];
                var hex_only = /^[0-9a-f]+$/i;
                var output = "";
                for (var i=0; i<string.length; i++) {
                    if($.inArray(string[i], to_escape) != -1) {
                        output += '\\'+string[i];
                    }
                    else {
                        output += string[i];
                    }
                }
                if (hex_only.test(output)) {
                    output = '"'+output+'"';
                }
                return output;
            };

            $.getJSON("/status").then(function(status) {
                loading.hide();
                updateUi(status);
            });

            $('#button-enable').on("click", function(e) {
                e.preventDefault();
                loading.show();
                gwDisabledContainer.hide();

                $.post("/enable").then(function(status) {
                    loading.hide();
                    updateUi(status);
                });
            });
        });
    </script>
</body>
</html>
