html, body {
    height: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #eee;
}
.navbar-fixed-top {
    border: 0;
    background: #1d2d44;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #f0f0f0;
}
.display-none {
    display: none;
}
.progress {
    height: 46px;
    margin-bottom: 0px;
}
.progress-bar {
    width: 100%;
    font-size: 18px;
    line-height: 46px;
}
.panel {
    max-width: 400px;
    margin: 0 auto;
}
.form {
    padding: 15px;
}
.form .form-heading,
.form .checkbox {
    margin-bottom: 10px;
}
.form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}