module.exports = {
    // Express webb app settings
    webApp: {
        port: 3000 // Default: 3000
    },

    // General FRITZ!Box settings
    fritzBox: {
        username: 'u',
        password: 'p',
        host: 'fritz.box' // Default: fritz.box
    }

    // Guest WiFi settings
    guestWifi: {
        autoDisable: true, // Default: true
        deactivateAfter: '30', // Default: 30
        waitForLastGuest: true // Default: true
    }
};