
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>FRITZ!Box Guest Wifi</title>

    <link rel="icon" type="image/png" href="/apple-touch-icon.png" />
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <span class="glyphicon glyphicon-signal"></span>
                        FRITZ!Box Guest Wifi
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <wifi-loading></wifi-loading>
                    <wifi-enable></wifi-enable>
                    <wifi-credentials></wifi-credentials>
                </div>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>
